---
const { title, description, date, url, image} = Astro.props;
---

<div class="flex items-center justify-center min-w-full">
    <div class="w-full p-6 border rounded-lg shadow-sm bg-beige dark:border-gray-700 flex justify-between items-center">
        <div class="flex-1 max-w-[50%">
            <p class="mb-2 font-normal text-gray-700 text-xl">{date}</p>
            <h3 class="mb-2 text-2xl font-medium tracking-tight">{title}</h3>
            <p class="mb-3 font-normal text-gray-700">{description}</p>
            <a href={url} target="_blank" class="text-blue-500 hover:underline">View Project</a>
        </div>
        <div class="ml-6">
            <img src={image} alt={title} class="w-48 h-48 object-cover rounded-lg" />
        </div>
    </div>